@import "../Style/ColorPaletteLight";
@import "../LandingPage/Service/Service";
@import "../LandingPage/Landing/Landing";
@import "../About/About";

.contact-grid {
  padding-top: 16px;
}

.contact-page-toolbar {
  padding-bottom: 0;
  padding-inline: 20px !important;
  min-height: fit-content !important;

  @media screen and (max-width: 599px) {
    padding-top: 15px;
  }
}

.contact-mail-toolbar {
  @include contactToolbar;
}

.contact-title {
  @include page-title;
  color: $text-white-light;
}

.contact-text {
  @include services-text;
  color: $text-white-light;
}

.mail-box {
  margin-top: 10px !important;

  @media screen and (max-width: 799px) {
    margin-top: 40px !important;
    margin-bottom: 60px !important;
  }
}

.mail-link {
  @include contact-link-style;
  color: $text-white-light;
}

.arrow-border-contact {
  color: $text-white-light;
  font-size: 18px !important;
  border-bottom: none !important;
  min-height: 28px;
  min-width: 24px;
  margin-left: 6px;
  transform: translateY(8px);
}

.form-width {
  padding-inline: 20px;

  @media screen and (max-width: 799px) {
    margin-bottom: 20px;
  }
}

.email-input, .email-area {
  background-color: transparent;
  position: relative;
  padding: 15px;
  border: 1px solid $text-white-light;
  margin-bottom: 10px;
  transition: 0.3s;
  color: $text-white-light;
  opacity: 0.4;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font-style !important;

  &:focus {
    background-color: $surface-mixed-light-100;
    opacity: 1;
  }
}

.email-area {
  resize: vertical !important;
}

::placeholder {
  color: $text-white-light !important;
}

:focus-visible {
  outline: none !important;
}

.btn-send-form {
  background-color: transparent;
  width: auto;
  border: 2px solid $text-white-light !important;
  border-radius: 0 !important;
  color: $text-white-light !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  padding: 10px 15px 10px 20px !important;
  transition: 0.3s;
  cursor: pointer;
  text-transform: none !important;
  font-size: 18px !important;
  font-family: $font-style !important;

  &:hover {
    background-color: $text-white-light !important;
    color: $primary-light-100 !important;

    .arrow-border {
      color: $primary-light-100;
    }
  }

  .arrow-border {
    color: $text-white-light;
    font-size: 18px !important;
    border-bottom: none !important;
    min-height: 28px;
    min-width: 24px;
    margin-left: 6px;
    transform: translateY(0px);
  }
}

.error-message {
  color: red !important;
  opacity: .8;
  transform: translateY(-5px);
  padding-left: 15px;
  margin-bottom: 10px;
}

.success-info {
  margin-top: 0;
  padding-inline: 20px;
  padding-bottom: 110px;
  @include services-text;

  @media screen and (max-width: 799px) {
    padding-bottom: 20px;
  }

  @media screen and (max-width: 599px) {
    padding-bottom: 40px;
  }
}
