@import "../../Style/ColorPalette";

.services-position {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-inline: 20px;
  max-width: 1100px;
  position: static !important;

  @media screen and (max-width: 599px) {
    padding-inline: 0;
  }
}

.services-title-toolbar {
  font-size: 18px !important;
  padding-inline: 20px !important;
  margin-bottom: 40px;
  min-height: auto !important;
}

.services-toolbar {
  min-height: fit-content !important;
  padding-inline: 20px !important;

  .services-toolbar > * {
    display: flex;
  }
}

.service-item {
  margin-bottom: 20px !important;
}


@mixin services-text {
  font-family: $font-style !important;
  font-size: 18px !important;
  line-height: 27px !important;
}

.services-text {
  @include services-text;
  color: $text-white;
}

.service-box {
  color: $text-white;
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 60px 30px 10px;
  display: flex;
  height: 100%;
}

.service-span {
  display: block;
  text-align: center;
}

.service-img {
  height: 100px;
  fill: $text-white !important;
}

.service-title {
  margin-top: 50px;
  margin-bottom: 15px;
}

.service-text {
  font-size: 18px !important;
}