@import "../Style/ColorPalette";
@import "../LandingPage/Landing/Landing";

.position-about {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 20px;
  max-width: 1100px;
  position: static !important;

  @media screen and (max-width: 599px) {
    padding-inline: 0;
  }
}

.about-toolbar {
  @include contactToolbar;
}

.about-title {
  font-family: $font-style !important;
  font-size: 62px !important;
  color: $text-white;
  line-height: 1.1 !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
  max-width: 1000px;
  margin-bottom: 80px !important;

  @media screen and (max-width: 799px) {
    font-size: 48px !important;
    margin-bottom: 48px !important
  }

  @media screen and (max-width: 599px) {
    font-size: 38px !important;
    letter-spacing: 0 !important;
  }
}

.contact-link-size {
  min-height: fit-content !important;
}

.about-text {
  margin-bottom: 20px !important;
  color: $text-white;
  font-family: $font-style !important;
  font-size: 18px !important;
}